<div class ="container">
<img class ="cover" src = "https://images.unsplash.com/photo-1450152021501-598b36b17449?auto=format&fit=crop&w=1350&q=80&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D"></img>
<div class = "imagetext">
<h4 class = "cover_text" >Welcome to the World's largest catlog of Open sourcedrecipes<h4>
<a class="waves-effect waves-light btn-large browse ">Browse</a>
</div>
</div>