// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.cover {
    margin-left: -202px;
}
.cover_text{
    font-family: 'Itim', cursive;
}

.browse{
    margin-left: 100px;
}
.imagetext{
    margin-top: -450px;
    margin-left: 650px;
}